<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Informations</h2>

    <div>
        <p>ContactId: <%= contact.id %>
        </p>
        <p>Name: <%= contact.names %>
        </p>
        <p>Contact: <%= contact.contact %>
        </p>

        <a href="/contacts/">Edit</a>
    </div>
</body>

</html>