<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Edit Contact</h3>

    <form action="/contacts" method="post">
        <label for="name">Name</label>
        <input type="text" name="names" id="name" required>
        <br>
        <label for="phone">Phone</label>
        <input type="text" name="contact" id="phone" required>
        <br>
        <label for="country">Country</label>
        <input type="text" name="country" id="country">
        <br>
        <button>Save</button>
    </form>
</body>

</html>